.cart-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-top: 1rem;
  padding: 25px;
  font-family: "Poppins";
}

.cart-item img {
  width: 25%;
  height: 25%;
}

.cart-item .details {
  margin-left: 20px;
}

.cart-item h4,
.cart-item h5 {
  margin: 0.5rem 0;
}

.cart-item .buttons {
  align-content: left;
}

.cart-item .buttons-abc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart-item .buttons-abc .rounded {
  border: none;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px;
}

.cart-item .btn-remove {
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-right: 10px;
  color: #000;
}

.cart-item .btn-remove:hover {
  background-color: #000000;
  color: #fff;
}

.cart-item .btn-continue {
  font-family: "Poppins";
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: #000;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.cart-item .btn-continue:hover {
  background-color: #d2d2d2;
}
