.search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Poppins";
}

.search-box:focus {
  outline: none;
  border-color: #40e0d0;
  box-shadow: 0 0 2px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .search-box {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
